@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #f8f9fa;
  color: #333333;
}

h1,
h2,
h3,
h5 {
  font-family: "Bodoni Moda", serif;
}

a {
  display: block;
  margin: 2 0;
  color: #333333;
  text-decoration: none;
  font-family: "Raleway", sans-serif;
}

/* NEW PALETTE */
/* Lavender */
/* #c8b6ff */

/* White */
/* #F8F9FA */

/* Pale Lavender for backgrounds: */
/* #E6E6FA */

/* Saturated Lavender for buttons and highlights: */
/* #9370DB */

/* Soft Neutral White for text: */
/* #F5F5F5 */

/* Soft Neutral Black for text: */
/* #333333 */

/* Soft Grey Tone for disabled states: */
/* #CCCCCC */
